<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.2.7-rc.0/web3.min.js"></script>
    <title>Best Ever Ether Net</title>
    <style>
        body {
            background-image: url('/images/ares_mancity.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .custom-container {
            max-width: 450px;
            margin: 50px 0 0 20px;
            height: 150px; 
            overflow: hidden;
          }
          .custom-2-container {
            max-width: 450px;
            margin: -50px 0 0 20px; /* Adjust left margin as needed */
            height: 70px; 
            overflow: hidden;
          }
        </style>        

  </head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Welcome</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" onclick="connectMetamask()">Connect To MetaMask Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/Trans">Send Etherum to a Friend</a>
                    </li>
                </ul>
            </div>
            <div id="userArea" style="color: white;">Status: Not connected to Metamask</div>
        </div>
    </nav>    
    <div class="custom-container">
        <div class="form-control">
          <h5><br>If You are intrest in buying this Football Game Ticket Please Press the confirm Buttom</h5>
        </div>
        </div>
        <div class="custom-2-container">
            <div class="form-control">
              <h5><br>Please remember Ticket cost 0.00005 Etherum</h5>
            </div>
            </div>
        <button onclick="depositContract()" class="btn btn-primary" style="width: 80px;height: 50px; margin: 10px 0 0 20px;">Confirm</button>
        
<script>
    let account;
    const Address = "0xF3ebadeA73D1A994e8aF09e0F1E4bF7C48511824";
    const ABI = [
    {
        "inputs": [],
        "name": "deposit",
        "outputs": [],
        "stateMutability": "payable",
        "type": "function"
    },
    {
        "inputs": [],
        "name": "getAddress",
        "outputs": [
            {
                "internalType": "address",
                "name": "",
                "type": "address"
            }
        ],
        "stateMutability": "view",
        "type": "function"
    },
    {
        "inputs": [],
        "name": "getBalance",
        "outputs": [
            {
                "internalType": "uint256",
                "name": "",
                "type": "uint256"
            }
        ],
        "stateMutability": "view",
        "type": "function"
    },
    {
        "inputs": [
            {
                "internalType": "address payable",
                "name": "_to",
                "type": "address"
            },
            {
                "internalType": "uint256",
                "name": "_amount",
                "type": "uint256"
            }
        ],
        "name": "withdraw",
        "outputs": [],
        "stateMutability": "nonpayable",
        "type": "function"
    }
];
    const checkForExistingConnection = async () => {
        if (typeof window.ethereum !== 'undefined') {
            try {
                const accounts = await ethereum.request({ method: "eth_accounts" });
                if (accounts.length > 0) {
                    account = accounts[0];
                    document.getElementById("userArea").innerHTML = `Account ID: ${account}`;
                    await getBalance(account);
                } else {
                    console.log("No existing connection to MetaMask.");
                }
            } catch (error) {
                console.error("Error checking for existing connection:", error);
            }
        } else {
            console.log("MetaMask is not available");
        }
    };
    window.onload = checkForExistingConnection;
    const connectMetamask = async () => {
        if (typeof window.ethereum !== 'undefined') {
            try {
                const accounts = await ethereum.request({ method: "eth_requestAccounts" });
                account = accounts[0];
                document.getElementById("userArea").innerHTML = `Account ID: ${account}`;
                await getBalance(account);
            } catch (error) {
                console.error("Connection Error:", error);
            }
        } else {
            console.log("MetaMask is not available");
        }
    };

    const getBalance = async (account) => {
        try {
            const balance = await ethereum.request({
                method: 'eth_getBalance',
                params: [account, 'latest']
            });
            const etherBalance = ethers.utils.formatEther(balance);
            document.getElementById("userArea").innerHTML += `<br>Current Balance: ${etherBalance} ETH`;
        } catch (error) {
            console.error("Balance Retrieval Error:", error);
        }
    };
    const depositContract = async () => {
        window.web3 = await new Web3(window.ethereum);
        window.contract = await new window.web3.eth.Contract(ABI, Address);
        const amountInEther = '0.00005';
        const amountInWei = web3.utils.toWei(amountInEther, 'ether');
        console.log(amountInWei);
        console.log(account);
        await window.contract.methods.deposit().send({ from: account, value: amountInWei });
    };
</script>
</body>
</html>